<div id="go-back">
  <a href="/">Go back</a>
</div>
<div class="all-views">
<h1> Box Contents For: <%= to_capital(@box.name) %> </h1>

<div id="box-contents"></div>
  <% if @box.items.length == 0 %>
  <p> No contents yet, click to add something</p>
  <% else %>
  <table class="display-table">
    <th>Quantity</th>
    <th>Item</th>
    <th>Description</th>
    <th>Fragile?</th>
    <th></th>
    <% @box.items.each do |item| %>
    <tr>
      <td><%= item.quantity %></td>
      <td><%= item.name.capitalize %></td>
      <td><%= item.description %></td>
      <td><%= item.fragile %></td>
      <td><a href="/item/<%= item.id %>/edit">edit</a></td>
    </tr>
    <% end %>
  <% end %>
</table>
</div>


<div id="new-item">
<h3>Add an Item: </h3>
  <form action="/item/new" method="POST">
    <input type="hidden">
    <div id='item-info'>
      <input type="text" name="item[name]" placeholder="Item Name">
      <input type="number" name="item[quantity]" placeholder="Quantity">
      <input type="text" name="item[description]" placeholder="Item Description">
      <input type="hidden" name="item[box_id]" value="<%= @box.id %>">
        <p>Is The Item Fragile?</p>
      <select name="item[fragile]">
    <% options = ["true", "false"] %>
    <% options.each do |choice| %>
    <option value="<%= choice %>"><%= choice %></option>
    <% end %>
    </select>
    </div><br>
    <input type="submit" value="Submit">
  </form>
</div>

